.container
{
  height: 100%;
  width: 100%;
  max-width: 20000px;
  max-height: none;
  margin-top: 3%;
}
@media (min-width: 1200px){
  .container{
    max-width: none;
  }
}
.veg-butt
{
  margin: 1% 0 1% 0;
}